<div
  style="
    font-family: Verdana, sans-serif;
    padding: 10px;
    background-color: #e1e1e1;
    color: #303030;
  "
>
  <h1 style="font-size: 24px; color: #272727">Hey, {{ .FullName }}!</h1>

  <p style="font-size: 16px; line-height: 1.5">
    We're really happy to inform you that your reserve ticket for
    <strong>{{ .EventName }}!</strong> is no longer a reserve ticket.
    <strong> You have received a ticket </strong> to the event! <br />
    You can view and pay your ticket under the "My Tickets" section of your
    profile. <a style="color: #00494e" href="{{ .v }}">Click here</a> to view
    your ticket. This is also where you pay for your ticket.
  </p>
  <p style="font-size: 16px; line-height: 1.5">
    Go to the "My Tickets" section, select the ticket you want to pay for and
    click the "Pay" button. A popup will appear where you pay for your ticket.
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    <strong> {{ .TeamName }} </strong> would appreciate it if you could pay for
    your ticket as soon as possible. {{ if .PayBefore }} You therefore have to
    pay your ticket before <strong>{{ .PayBefore }} CET</strong> (or CEST in the
    summer). If you do not pay for your ticket before this date and time, your
    ticket will be given to a reserve. {{ else }} You have to pay for the ticket
    before the event. {{ end }}
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    If you no longer wish to attend the event select the
    <strong> "I no longer wish to attend" </strong> in the "My Tickets" section
    of your profile.
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    If you have any questions, please contact us at
    <a
      style="color: #00494e"
      href="mailto:{{ .TeamEmail }}?subject=Questions about {{ .EventName }}"
      >{{ .TeamEmail }}</a
    >
  </p>
  <br />

  <p style="font-size: 14px; line-height: 1.5">
    Kind regards,<br /><strong>tessera</strong>
  </p>
</div>
