<html>
  <!-- <head>
    {{template "css"}}
  </head> -->
  <body>
    <div class="email-container">
      <div class="email-header">
        <img src="https://via.placeholder.com/150" alt="Company Logo" />
      </div>

      <h1>Hey, {{ .FullName }}!</h1>

      <p>
        This is a confirmation that you recently requested tickets to
        <strong>
          <a href="{{ .EventURL }}">{{ .Event.Name }}</a>
        </strong>
      </p>

      <p>You have requested the following tickets:</p>

      {{ .TicketsHTML }}

      <div class="event-details">
        <div>
          <p>
            <strong> {{ .Event.Name }} </strong><br />
            {{ .Event.Date }}<br />
            {{ .Event.Location }}<br />
          </p>
        </div>
        <div>
          <p>
            <a href="{{ .AddToCalendarURL }}">+ Add to your calender</a><br />
            <a href="{{ .GoogleCalendarURL }}">+ Google Calendar</a>
          </p>
        </div>
      </div>

      <p>
        If you no longer wish to attend the event, please select the
        <strong>"Cancel Request"</strong> option in the "My Ticket Requests"
        section of your profile. You can also
        <a href="{{ .TicketURL }}">Click here</a> to view your ticket requests.
      </p>

      <div>
        <button
          style="
            background-color: #1a73e8;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
          "
          onclick="window.location.href='{{ .ViewRequestURL }}'"
        >
          View Request
        </button>
        <button
          style="
            background-color: #c6300a;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
          "
          onclick="window.location.href='{{ .CancelRequestURL }}'"
        >
          Cancel Request
        </button>
      </div>

      <p style="margin-top: 10px">
        If you have any questions, please contact us at
        <a
          href="mailto:{{ .OrganizationEmail }}?subject=Questions about {{ .Event.Name }}"
          >{{ .OrganizationEmail }}</a
        >
      </p>

      <div class="footer">
        Kind regards,<br />
        <strong>tessera</strong><br />
        <a href="https://www.tessera.com" style="color: #999999"
          >Visit our website</a
        >
      </div>
    </div>
  </body>
</html>
