<div
  style="
    font-family: Verdana, sans-serif;
    padding: 10px;
    background-color: #e1e1e1;
    color: #303030;
  "
>
  <h1 style="font-size: 24px; color: #272727">Hello, {{ .FullName }}!</h1>

  <p style="font-size: 16px; line-height: 1.5">
    We're writing to inform you that the payment deadline for
    <strong>{{ .EventName }}</strong> has been updated. You now need to make
    your payment before <strong>{{ .PayBefore }}</strong>.
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    You can view your ticket and payment details by visiting the following link:
    <a style="color: #00494e" href="{{ .TicketURL }}">Click here</a>.
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    If you have any questions or concerns, please don't hesitate to contact us
    at
    <a
      style="color: #00494e"
      href="mailto:{{ .OrganizationEmail }}?subject=Questions about {{ .EventName }}"
      >{{ .OrganizationEmail }}</a
    >.
  </p>

  <br />

  <p style="font-size: 14px; line-height: 1.5">
    Best regards,<br /><strong>tessera</strong>
  </p>
</div>
