<div
  style="
    font-family: Verdana, sans-serif;
    padding: 10px;
    background-color: #e1e1e1;
    color: #303030;
  "
>
  <h1 style="font-size: 24px; color: #272727">Welcome, {{ .FullName }}!</h1>

  <p style="font-size: 16px; line-height: 1.5">
    Welcome to tessera! The computer science chapter's event and ticketing
    platform. Hopefully we can make your event experience a little bit easier.
    If you have any questions, make sure to check out the FAQ section of the
    website, located on the landing page.
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    Lets bring you up to speed and get you started! First off, you should enter
    your
    <a href="{{ .ProfileLink }}" target="_blank"
      >food preferences in your profile</a
    >. This is important for the events you attend, as the event organizers need
    to know if you have any allergies or other food preferences.
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    Ticket Requests can be viewed under the
    <a href="{{ .TicketRequestsLink }}" target="_blank">My Ticket Requests</a>
    section of your profile.
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    You can also view and pay your tickets under the
    <a href="{{ .TicketsLink }}" target="_blank">My Tickets</a>
    section of your profile. to view your tickets. This is also where you pay
    for your tickets.
  </p>

  <p style="font-size: 14px; line-height: 1.5">
    Kind regards,<br /><strong>tessera</strong>
  </p>
</div>
