<div
  style="
    font-family: Verdana, sans-serif;
    padding: 10px;
    background-color: #e1e1e1;
    color: #303030;
  "
>
  <h1 style="font-size: 24px; color: #272727">Hey, {{ .FullName }}!</h1>

  <p style="font-size: 16px; line-height: 1.5">
    This is a confirmation that you recently requested tickets to
    <strong>{{ .EventName }}.</strong>
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    You have requested the following ticket,
  </p>

  <style>
    ul.cost-summary {
      list-style-type: none;
      padding: 0;
      font-size: 16px;
      line-height: 1.5;
      width: 100%;
      border: 1px solid #ccc;
    }
    li {
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
    }
    ul.cost-summary li:nth-child(even) {
      background-color: #d0dede;
    }
    ul.cost-summary li:nth-child(odd) {
      background-color: #d1ded0;
    }
    ul.cost-summary li:last-child {
      border-bottom: none;
    }
  </style>

  {{ .TicketsHTML }}

  <p style="font-size: 16px; line-height: 1.5">
    As you are have registered this ticket as a guest, you can view your ticket
    requests by clicking the link below.
  </p>

  {{ .TicketRequestURL }}

  <p style="font-size: 16px; line-height: 1.5">
    Its important that you fill out the required information in the ticket, so
    that the event managers can cater to your needs.
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    If you no longer wish to attend the event, please select the
    <strong>"Cancel Ticket Request"</strong> option.
  </p>

  <p style="font-size: 16px; line-height: 1.5">
    If you have any questions, please contact us at
    <a
      style="color: #00494e"
      href="mailto:{{ .OrganizationEmail }}?subject=Questions about {{ .EventName }}"
      >{{ .OrganizationEmail }}</a
    >
  </p>
  <br />

  <p style="font-size: 14px; line-height: 1.5">
    Kind regards,<br /><strong>tessera</strong>
  </p>
</div>
